footer {
    background-color: $bleu;
    padding: 20px 0;
    color: white;

    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;



        .newsletter {
            flex-basis: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;


            form {
                position: relative;
                width: 300px;
                margin: 0 $marge;

                input {
                    padding: .5em;


                }

                .mail {
                    width: 250px;
                    border-bottom-left-radius: 20px;
                    border-top-left-radius: 20px;
                    border: $jaune solid 1px;
                    color: $jaune;
                }

                .valid-mail {
                    position: absolute;
                    left: 240px;
                    width: 50px;
                    cursor: pointer;
                    border-bottom-right-radius: 20px;
                    border-top-right-radius: 20px;
                    background-color: white;
                    border: $jaune solid 1px;
                    color: $jaune;
                    text-transform: uppercase;
                }
            }
        }

        .logo-blanc img {
            width: 140px;
            margin: 1em auto;
        }

        .tel {
            display: block;
            height: 50px;
            background: url(../images/tel.png) no-repeat;
            background-size: contain;
            padding: 1em 0 1em 50px;
        }

        .reseaux-sociaux {
            flex-basis: 100%;
            margin: 20px 0;

            ul {
                display: flex;
                justify-content: space-between;
            }
        }

        p {
            display: block;
            flex-basis: 100%;
            margin: 1em 0;

        }

        .mentions {
            flex-basis: 100%;
            display: flex;
            justify-content: space-between;
            padding: 0 $marge;
        }

        @media (min-width:$bp-medium) {
            .newsletter {
                flex-basis: 80%;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                p{
                    flex-basis: 33%;
                    text-align: right;
                }
            }

            .logo-blanc {
                flex-basis: 20%;
            }

            .tel {
                flex-basis: 50%;
            }

            .reseaux-sociaux {
                flex-basis: 50%;
                align-self: flex-end;
            }

            p {
                flex-basis: 50%;
            }

            .mentions {
                flex-basis: 50%;
                flex-direction: column;
                align-items: flex-end;
            }

        }

        @media (min-width:$bp-large) {
            .newsletter {
                flex-basis: 33%;
            }

            .logo-blanc {
                flex-basis: 20%;
            }

            .tel {
                flex-basis: 33%;
            }

            .reseaux-sociaux {
                flex-basis: 33%;
                align-self: flex-end;
            }

            p {
                flex-basis: 20%;
            
            }

            .mentions {
                flex-basis: 33%;
                flex-direction: row;
                justify-content: space-between;
            }

        }

    }

}