
#second-nav {
    background-color: #fff;

    // .mobile-nav-sec{
    //     display: none;
    // }

    .moteur-recherche {

        margin: $marge 0;

        .input-recherche {
            width: 90%;
            padding: .5em $marge;
            border: $jaune solid 1px;
            color: $jaune;
            text-transform: uppercase;
        }

        .valid-recherche {
            position: absolute;
            left: 85%;
            width: 50px;
            padding: .5em;
            cursor: pointer;
            background-color: $jaune;
            border: $jaune solid 1px;
            color: white;
            text-transform: uppercase;
        }
    }

    .reseaux-sociaux {
        display: none;
        padding: 10px 0;
    }

    #compte-contact {
        display: none;
    }

    @media(min-width:$bp-medium) {
        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .moteur-recherche {
                position: relative;
                flex-basis: 33%;
                display: block;

                .input-recherche {
                    width: 80%;
                }

                .valid-recherche {
                    left: 80%;
                }

            }

            .reseaux-sociaux {
                flex-basis: 33%;
                display: block;
                // margin: $marge 0;

                ul {
                    display: flex;
                    justify-content: space-around;
                }
            }

            #compte-contact {
                display: block;
                flex-basis: 33%;

                &>ul {
                    display: flex;
                    justify-content: space-around;

                    li {
                        flex-basis: 40%;


                        a {

                            color: $jaune;
                            text-align: center;
                        }
                        .sous-menu{
                            display: none;
                        }
                        &:hover .sous-menu{
                            display: inline-block;
                        }
                    }
                }
            }
        }
    }
}



/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;

    // .mobile-nav-sec {
    //     display: block;
    //     top: 0;
    //     right: 0;
    //     z-index: 1;
    //     width: 100%;
    //     position: absolute;
    //     text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.475);

    //     .menu {
    //         top: 0;
    //         right: 0;
    //         margin: 0;
    //         z-index: 3;
    //         width: 100%;
    //         background: $beige-75;
    //         padding: 3em 0 2em;
    //         position: absolute;
    //         transform: translateX(-100%);
    //         transition: transform 0.3s cubic-bezier(1, 0.5, 0, 1);

    //         &.active {
    //             transform: translateX(0);
    //         }

    //         li {
    //             list-style: none;

    //             a {
    //                 padding: 1em;
    //                 color: $jaune;
    //                 display: block;
    //                 background: none;
    //                 line-height: 1em;
    //                 font-size: 1.125em;
    //                 text-align: center;
    //                 text-decoration: none;
    //                 transition: background 0.2s ease-in-out;

    //                 span {
    //                     border-bottom: 1px dotted #fff;
    //                 }

    //                 &:hover,
    //                 &:focus,
    //                 &:active {
    //                     background: rgba(255, 255, 255, 0.2);
    //                 }
    //             }
    //         }
    //     }
    // }

    // .menu-toggle {
    //     top: 24px;
    //     z-index: 2;
    //     right: 12px;
    //     width: 22px;
    //     height: 20px;
    //     padding: 8px 0;
    //     cursor: pointer;
    //     border-radius: 50%;
    //     position: absolute;

    //     span {
    //         height: 4px;
    //         display: block;
    //         overflow: hidden;
    //         text-indent: 100%;
    //         background: $jaune;
    //         border-radius: 2px;
    //         white-space: nowrap;
    //         transition: background 0.3s ease-in-out;
    //     }

    //     &::before,
    //     &::after {
    //         left: 0;
    //         content: '';
    //         width: 22px;
    //         height: 4px;
    //         background: $jaune;
    //         border-radius: 2px;
    //         position: absolute;
    //         transform-origin: center center;
    //         transition: width 0.2s ease-in-out, background 0.2s ease-in-out, transform 0.2s ease-in-out, top 0.2s ease-in-out, bottom 0.2s ease-in-out, left 0.2s ease-in-out, right 0.2s ease-in-out;
    //     }

    //     &::before {
    //         top: 0;
    //     }

    //     &::after {
    //         bottom: 0;
    //     }

    //     &.menu-open {
    //         span {
    //             background: rgba(255, 255, 255, 0);
    //         }

    //         &::before {
    //             top: 8px;
    //             transform: rotate(-45deg);
    //         }

    //         &::after {
    //             bottom: 8px;
    //             transform: rotate(45deg);
    //         }

    //         &::before,
    //         &::after {
    //             width: 26px;
    //             background: $jaune;
    //         }

    //         &:hover,
    //         &:focus,
    //         &:active {
    //             span {
    //                 background: rgba(255, 255, 255, 0);
    //             }

    //             &::before {
    //                 top: 8px;
    //                 left: -3px;
    //                 transform: rotate(-45deg);
    //             }

    //             &::after {
    //                 left: 9px;
    //                 bottom: 8px;
    //                 transform: rotate(45deg)
    //             }

    //             &::before,
    //             &::after {
    //                 width: 18px;
    //             }
    //         }
    //     }

    //     &:hover,
    //     &:focus,
    //     &:active {
    //         span {
    //             background: rgba(255, 255, 255, 0);
    //         }

    //         &::before {
    //             top: 8px;
    //             left: -3px;
    //             transform: rotate(45deg);
    //         }

    //         &::after {
    //             left: 9px;
    //             bottom: 8px;
    //             transform: rotate(-45deg)
    //         }

    //         &::before,
    //         &::after {
    //             width: 18px;
    //         }
    //     }
    // }
}

