

.voyage {
    padding: $marge;

    .cadre-blanc {
        margin: $marge;
        width: 285px;
        height: 285px;
        color: $vert;

        article {
            display: flex;
            flex-direction: column;
            align-items: center;

            h4 {
                text-align: center;
            }

            p {
                font-size: .75rem;
                color: black;
            }

            .points-cles {
                display: flex;
                justify-content: space-between;
                width: 100%;
                padding: $marge;

            }

        }
    }
}