// layout

$max-width: 1110px;
$bp-large: 1110px;
$bp-medium: 690px;
$bp-small:340px;
$marge: 15px;


//colors
$orange:#e15829;
$jaune:#ffa400;
$vert:#008996;
$bleu:#222944;
$gris:#d8d1ca;
$beige:#f5f1ed;
$beige-75:#f5f1edc9;


